h3 {
	font-size: 14px;
	line-height: 14px;
}

.span3 {
	background-color: #cacaca;
    padding: 10px 10px 10px 10px;	
}

.span9 {
	padding: 10px 0 0 40px;
	background-color: #d88;
}

.row-fluid [class*="span"] {
    margin-left: 0.5%;

}

.divider {
	height: 4px;
	clear: both;
}

.span3 img {
	height: 65px;
	float: left;
}

.span3 p {
	font-size: 12px;
	line-height: 12px;
	background-color: #fff;
	padding: 3px; 
	clear: both;
}